@import "tailwindcss";

@theme inline {
  --color-umBlue: #00274C;
  --color-umMaize: #FFCB05;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}
